__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode


examples/mamba/data-cache/
examples/mamba/checkpoints/
*.patch

*.bin
*.idx

examples/mamba/output.txt
examples/mamba/output2.txt

examples/mamba/training_10000_output.txt
examples/mamba/training_10000_output_2.txt
examples/mamba/training_10000_output_3.txt
examples/mamba/training_10000_output_4.txt
examples/mamba/training_10000_output_5.txt

examples/mamba/training_decoder_10000_output_1.txt

changes.path